@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

/* css reset */
* {
    /* retirar a margem externa */
    margin: 0;
    /* retirar a margem interna */
    padding: 0;
}


header {
    width: 100%;
    height: 10%;
    /* sombra */
    /* box-shadow: 0 0 5px #ccc; */
    position: fixed;
    /* posicionar no topo */
    top: 0;
    z-index: 2;
    transition: box-shadow 0.3s ease;
    background: #FA7268;
}

body {
    color: white;
    background-image: linear-gradient(black, black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding-top: 60px;
    /* tirar a barra de navegação */
    overflow-x: hidden;
    /* texto em negrito */
    font-weight: 500;
}

#botao i {
    font-size: 1em;
    display: none;
}

.show {
    display: block !important;
}

header {
display: flex;
justify-content: center;
padding: 5px;
}

header nav {
    display: flex;
    justify-content: center;

}

header nav ul {

    display: flex; 
    justify-content: space-between;
    /* retirar a bolinha */
    list-style-type: none;
    align-items: center;

}

header nav ul li {
    /* alinhar um ao lado do outro */
    display: flex;
    justify-content: center;
    margin: 0 15px; 
    /* mudar o tamanho da fonte */
    font-size: 20px;
    /* negrito */
    /* font-weight: bold; */
}


header nav ul li a {
    /* tirar o sublinhado */
    text-decoration: none;
}

header:not(:hover) {
    box-shadow: none;
}


nav {
    padding-top: 1px;
    margin: 0 10% 0% 10%;
    font-size: 1.4rem;
    
    font-family: "Silkscreen", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    float: right;   
}

.background {
    background-image: url('/SpritesJogo/degrade-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    text-align: center; /* Centraliza o conteúdo */
    padding-top: 100px; 
    width: 105vw;
    height: 100vh;
    position: relative;
    z-index: 1;

}



.tittle {
    margin-top: 11%;
    display: flex;
    justify-content: center;
    font-family: "Honk", "Silkscreen", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 7rem;
    letter-spacing: 0.5rem;
}


.center {
    text-align: center;
}

.grid {
    /* aplicar a grid */
    display: grid;
    /* configuro as colunas */
    grid-template-columns: 34% 33% 33%;
}

.grid .coluna {
    /* sombra */
    box-shadow: 0 0 10px #ccc;
    /* borda arredondada */
    border-radius: 10px;
    /* margem externa */
    margin: 30px;
    width: 16rem;
    height: 30rem;
    font-size: medium;
    font-weight: bold;
   
}

.grid .coluna img {
    width: 80%;
    border-radius: 10px 10px 0 0

}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 50%;

}

.socialIcons a i {
    font-size: 2.5rem;
    color: white;
    /* opacity: 0.9; */
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom P{
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 1px;
}



main {
    /* topo, direita, baixo, esquerda
    relógio no sentido anti-horário */
    margin: 5% 10%;
    font-size: 20px;

}

.space-between-sections, .different-space {
    margin: 20%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;

}

.different-space {
   padding-top: 100px;
   text-align: left;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.subtittle {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;

}

.sub-subtittle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.sob{ 
   float: left;
   color:white;
   margin-inline-end: auto;
}


.fonte-diferente {
    font-family: "Montserrat";
}




h2, h3 {
    font-family: "Silkscreen", "Montserrat", sans-serif;
}

.game {
    text-align: center;
    padding: 100px;
    font-size: 25px;
    color: #f89cec;
}

.btn {
    background-color: #eeb7e7;
    border: none; 
    color: black;
    padding: 5px 5px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 12px; 
    margin: 2px 2px; 
    cursor: pointer; 
    border-radius: 12px;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(255, 80, 240);
}


.preview-img {
    text-align: center;
    font-size: 25px;
    padding: 100px;
}


.button {
    padding: 5px;
    background-color: #e02bc2; /* Cor de fundo */
    color: white; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Remover borda */
    cursor: pointer; /* Cursor de apontar */
}

.button:hover {
    background-color: #c91a72; /* Cor de fundo em hover */
}

html {
    /* comportamento do scroll */
    scroll-behavior: smooth;
}


a {
    color: white;
    text-decoration: none;
}

section ul  {
    list-style-type: none;
}

@media(min-width: 320px) and (max-width: 425px) {
    .mobile-menu {
        display: none;
    }

    header {
        display: block;
        padding: 0;
    }

    header nav ul {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    header nav ul li {
        padding: 10px;
    }

    nav {
        float: none;
        background-color: #FA7268;
        padding: 15px 0;
        margin: 0;
    }

    #botao {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 13%;
        background-color: #FA7268;
    }

    #botao i {
        display: block;
    }
    
    .tittle {
        font-size: 6em;
    }

    .space-between-sections, .different-space {
        margin: 0;
    }

    .different-space h2, .sub-subtittle h3, .sob {
        text-align: center;
    }

    .preview-img {
        text-align: center;
        padding: 0;
    }

   .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   }

   .game {
        padding: 50% 0;
   }

   .btn {
    margin: 2px 25px;
   }

   .footerContainer {
        width: 80%;
   }
}

@media (min-width: 425px) and (max-width: 1310px) {
    
    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game {
        padding: 20px;
    }

    .footerContainer {
        width: 90%;
   }
}

@media(min-width: 425px) and (max-width: 1110px) {
    .mobile-menu {
        display: none;
    }

    header {
        display: block;
        padding: 0;
    }

    header nav ul {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    header nav ul li {
        padding: 10px;
    }

    nav {
        float: none;
        background-color: #FA7268;
        padding: 15px 0;
        margin: 0;
    }

    #botao {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 5% 10%;
        background-color: #FA7268;
    }

    #botao i {
        display: block;
    }
}