@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&display=swap');

/* 
header {
    background-color: white;
    width: 100%;
    box-shadow: 0 0 10px #ccc;
    width: 100%;
    justify-content: center;
} */

body {
    color: white;
    background-image: linear-gradient(black, black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}



nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 20px;
    top: 0!important;

}

nav {
    padding-top: 1px;
    margin: 0 10% 0% 10%;
    font-size: 1.4rem;

    font-family: "Silkscreen", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


a {
    color: white;
    text-decoration: none;
}

.center {
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}


nav a:hover {
    color: black;
}

iframe {
    width: 100%;
    height: 300px;
    border: 7px, black;
}

.home-page {
    width: 100%;
    height: 100vh;

    background-image: url(./SpritesJogo/degrade-fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    /* topo, direita, baixo, esquerda
    relógio no sentido anti-horário */
    margin: 5% 10% 5% 10%;
}

.space-between-sections {
    margin: 5% 0% 0% 0%;
}

/* .preview-img img{
    width: 50%;
    height: 50%;
} */

.tittle {
    margin-top: 15%;
    display: flex;
    justify-content: center;

    font-family: "Honk", "Silkscreen", "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 7rem;
    letter-spacing: 0.5rem;
}


h2, h3 {
    font-family: "Silkscreen", "Montserrat", sans-serif;    
}

li, .fonte-diferente {
    font-family: "Montserrat";
}

.game-embeded {
    width: 80vw;
    height: 90vh;
}